<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsp.dao.SecondaryClassificationMapper" >
  <resultMap id="BaseResultMap" type="com.bsp.entity.SecondaryClassification" >
    <id column="sc_id" property="scId" jdbcType="INTEGER" />
    <result column="sc_name" property="scName" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <association property="primaryClassification" column="pc_id" javaType="PrimaryClassification" select="com.bsp.dao.PrimaryClassificationMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List" >
    sc_id, sc_name, pc_id, is_delete
  </sql>
  <!-- 高级+分页查询的where语句块 -->
  <sql id="where_of_query">
	<where>
		<if test="search!=null">AND (
			sc_id LIKE CONCAT('%',#{search},'%')
			OR sc_name LIKE CONCAT('%',#{search},'%')
		)
		</if>
		<if test="status!=null">
			<if test="status==0"><!-- 未删除 -->
				AND is_delete = 0
			</if>
			<if test="status==1"><!-- 已删除 -->
				AND is_delete = 1
			</if>
		</if>
	</where>
  </sql>
  <select id="selectCountByPcId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List"/>
    from secondary_classification
    where pc_id = #{arg}
  </select>

  <select id="getTotalCount" resultType="java.lang.Integer" parameterType="com.bsp.dto.ClassificationQueryObject" >
    select COUNT(*) from secondary_classification 
    <include refid="where_of_query" />
  </select>
  <select id="selectByQueryObject" resultMap="BaseResultMap" parameterType="com.bsp.dto.ClassificationQueryObject" >
    select
	<include refid="Base_Column_List" />
    from secondary_classification
    <include refid="where_of_query" />
	<if test="sort!=null">
		ORDER BY ${sort}
		<if test="order!=null">${order}</if>
	</if>
    <if test="startIndex>-1">
		LIMIT #{startIndex},#{limit}
	</if>
  </select>
  <select id="selectByPcId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from secondary_classification
    where pc_id = #{pcId,jdbcType=INTEGER} AND is_delete = 0
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from secondary_classification
    where sc_id = #{scId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from secondary_classification
    where sc_id = #{scId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bsp.entity.SecondaryClassification" >
    insert into secondary_classification (sc_id, sc_name, pc_id, 
      is_delete)
    values (#{scId,jdbcType=INTEGER}, #{scName,jdbcType=VARCHAR}, #{primaryClassification.pcId,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.bsp.entity.SecondaryClassification" >
    insert into secondary_classification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        sc_id,
      </if>
      <if test="scName != null" >
        sc_name,
      </if>
      <if test="primaryClassification.pcId != null" >
        pc_id,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scId != null" >
        #{scId,jdbcType=INTEGER},
      </if>
      <if test="scName != null" >
        #{scName,jdbcType=VARCHAR},
      </if>
      <if test="primaryClassification.pcId != null" >
        #{primaryClassification.pcId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bsp.entity.SecondaryClassification" >
    update secondary_classification
    <set >
      <if test="scName != null" >
        sc_name = #{scName,jdbcType=VARCHAR},
      </if>
      <if test="primaryClassification.pcId != null" >
        pc_id = #{primaryClassification.pcId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bsp.entity.SecondaryClassification" >
    update secondary_classification
    set sc_name = #{scName,jdbcType=VARCHAR},
      pc_id = #{primaryClassification.pcId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where sc_id = #{scId,jdbcType=INTEGER}
  </update>
</mapper>