<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link rel="stylesheet" href="../../statics/js/plugins/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="../../statics/assets/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../../statics/js/plugins/bootstrap-table/bootstrap-table.css" />
	<link rel="stylesheet" href="../../statics/js/plugins/bootstrapvalidator/css/bootstrapValidator.css" />
	<link rel="stylesheet" href="../../statics/js/plugins/bootstrap-toggle/css/bootstrap-toggle.css" />
	<link rel="stylesheet" href="../../statics/js/plugins/bootstrap-switch/css/bootstrap3/bootstrap-switch.css" />
    <link rel="stylesheet" href="../../statics/css/style_admin.css">
</head>
<body>
	
	<div id="vue-app">
		<div id="table-div" style="margin: 0px 10px;">
			<table id="data-list"></table>
		</div>
		<div id="tab-toolbar" class="btn-group" role="group" >
			<select @change="reload" v-model="clbStatus" class="form-control">
				<option value="0" selected="selected">待审核</option>
				<option value="1">未通过</option>
				<option value="2">已通过</option>
			</select>
		</div>

		<!--失败原因描述-->
		<div id="input-modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">审核失败原因</h4>
					</div>
					<div class="modal-body">
						<textarea style="resize:none" v-model="failureCause" class="form-control" rows="5" placeholder="限250个字符"></textarea>
                        <span class="text-danger">{{inputMsg}}</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button @click="deny"  type="button" class="btn btn-primary">确定</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="../../statics/js/jquery-3.3.1.js"></script>
	<script src="../../statics/js/vue.js"></script>
	<script src="../../statics/js/plugins/bootstrap/js/bootstrap.js"></script>
	<script src="../../statics/js/plugins/bootstrap-table/bootstrap-table.js"></script>
	<script src="../../statics/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
	<script src="../../statics/js/plugins/bootstrapvalidator/js/bootstrapValidator.js"></script>
	<script src="../../statics/js/plugins/bootstrap-toggle/js/bootstrap-toggle.js"></script>
	<script src="../../statics/js/plugins/bootstrap-switch/js/bootstrap-switch.js"></script>
    <!-- layer -->
    <script src="../../statics/js/plugins/layer/layer.js"></script>
	<script src="../../statics/js/commons/common.js"></script>
	<script src="../../statics/js/admin/checkLoanableBook.js"></script>
</body>
</html>