<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>肇庆学院图书共享平台-借阅记录</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
        ============================================ -->
	<link rel="shortcut icon" type="image/x-icon"
		  href="../../statics/img/logo_bsp.png">

	<!-- All css files are included here. -->
	<!-- Bootstrap framework main css -->
	<link rel="stylesheet" href="../../statics/assets/css/bootstrap.min.css">
	<!-- This core.css file contents all plugings css file. -->
	<link rel="stylesheet" href="../../statics/assets/css/core.css">
	<!-- Theme shortcodes/elements style -->
	<link rel="stylesheet"
		  href="../../statics/assets/css/shortcode/shortcodes.css">
	<!-- Theme main style -->
	<link rel="stylesheet" href="../../statics/assets/style.css">
	<!-- Responsive css -->
	<link rel="stylesheet" href="../../statics/assets/css/responsive.css">
	<!-- User style -->
	<link rel="stylesheet" href="../../statics/assets/css/custom.css">

	<link rel="stylesheet" href="../../statics/css/common_user.css">

	<!-- Modernizr JS -->
	<script src="../../statics/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- header start -->
<header v-cloak id="header-app" class="header-pos">
	<div class="header-area header-middle">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-12">
					<div class="logo">
						<a href="/"><img src="../../statics/img/logo_bsp.png" alt="" /></a>
					</div>
				</div>
				<div class="col-md-10 col-sm-9 col-xs-12 text-right xs-center">
					<div class="main-menu display-inline hidden-sm hidden-xs">
						<nav>
							<ul>
								<li><a href="/">首页</a></li>
								<li><a href="/p/repository">图书检索</a></li>
								<li v-show="login"><a href="/p/record">借阅记录</a></li>
								<li v-show="login"><a href="/p/lended">借出记录</a></li>
								<li v-show="login"><a href="/p/my_share">共享图书</a></li>
								<li v-show="login"><a href="/p/message_center">消息<span v-show="msgNum"  id="msgNum" class="superscript">{{msgNum}}</span></a></li>
								<li v-show="!login"><a href="/login">登录</a></li>
								<li v-show="!login"><a href="/p/register">注册账号</a></li>
							</ul>
						</nav>
					</div>
					<div class="search-block-top display-inline">
						<div class="icon-search"></div>
						<div class="toogle-content">
							<form action="javascript:doSearch()" id="searchbox">
								<input v-model="search" type="text" placeholder="搜索图书" />
								<button type="button" @click="doSearch" class="button-search"></button>
							</form>
						</div>
					</div>
					<div class="setting-menu display-inline">
						<div class="icon-nav current"></div>
						<ul class="content-nav toogle-content">
							<li class="currencies-block-top">
								<!--<div class="current"><b>My Account</b></div>-->
								<ul>
									<li v-show="login"><a href="/p/user_center">账户资料</a></li>
									<li @click="logout"  v-show="login"><a href="javascript:;">退出登录</a></li>
									<li v-show="!login"><a href="/login">登录</a></li>
									<li v-show="!login"><a href="/p/register">注册账号</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-menu-area visible-sm visible-xs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="mobile-menu">
						<nav id="mobile-menu-active">
							<ul>
								<li><a href="/">首页</a></li>
								<li><a href="/p/repository">图书检索</a></li>
								<li v-show="login"><a href="/p/record">借阅记录</a></li>
								<li v-show="login"><a href="/p/lended">借出记录</a></li>
								<li v-show="login"><a href="/p/my_share">共享图书</a></li>
								<li v-show="login"><a href="/p/my_share2">需求图书</a></li>
								<li v-show="login"><a href="/p/message_center">消息<span v-show="msgNum" id="msgNum" class="mobile-superscript">{{msgNum}}</span></a></li>
								<li v-show="!login"><a href="/login">登录</a></li>
								<li v-show="!login"><a href="/p/register">注册账号</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header end -->

<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-history"></i></a></li>
			<li><a href="#">借出记录</a></li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->
<!-- cart-main-area start -->
<div class="cart-main-area" id="record_app" v-cloak>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<div class="column">
					<h2 class="title-block">借出记录</h2>
					<div class="sidebar-widget">
						<ul class="sidebar-menu">
							<li><a @click="switchPage(0)" href="javascript:;">正在进行</a></li>
							<li><a @click="switchPage(1)" href="javascript:;">异常记录 </a></li>
							<li><a @click="switchPage(2)" href="javascript:;">已完成 </a></li>
						</ul>
					</div>

				</div>
			</div>
			<div class="col-md-9 col-sm-8">
				<h2 class="page-heading mt-40">
					<div v-show="showPage==0" id="row">
						<div class="col-sm-6 clo-md-6" style="padding-left: 0px">
							<span class="cat-name">正在进行</span>
						</div>
						<div class="col-sm-6 clo-md-6">
							<div class="input-group">
								<input type="text" placeholder="输入订单号" class="form-control" style="height: 38px" id="r_search0" v-model="ingParams.search"/>
								<span class="input-group-btn">
                               			<button type="button" class="btn btn-default" style="height: 38px;margin-bottom: 2px" @click="searchPage(0)">搜索</button>
                               		</span>
							</div>
						</div>
					</div>
					<div v-show="showPage==1" id="row">
						<div class="col-sm-6 clo-md-6" style="padding-left: 0px">
							<span class="cat-name">异常记录</span>
						</div>
						<div class="col-sm-6 clo-md-6">
							<div class="input-group">
								<input type="text" placeholder="输入订单号" class="form-control" style="height: 38px" id="r_search1" v-model="bugPageParams.search"/>
								<span class="input-group-btn">
                               			<button type="button" class="btn btn-default" style="height: 38px;margin-bottom: 2px" @click="searchPage(1)">搜索</button>
                               		</span>
							</div>
						</div>
					</div>
					<div v-show="showPage==2" id="row">
						<div class="col-sm-6 clo-md-6" style="padding-left: 0px">
							<span class="cat-name">已完成</span>
						</div>
						<div class="col-sm-6 clo-md-6">
							<div class="input-group">
								<input type="text" placeholder="输入订单号" class="form-control" style="height: 38px" id="r_search2" v-model="edPageParams.search"/>
								<span class="input-group-btn">
                               			<button type="button" class="btn btn-default" style="height: 38px;margin-bottom: 2px" @click="searchPage(2)">搜索</button>
                               		</span>
							</div>
						</div>
					</div>
				</h2>
				<h5 class="page-header"></h5>
				<div class="shop-page-bar">
					<!-- Tab panes -->
					<div class="tab-content">
						<div v-show="showPage==0" style="min-height: 500px;margin-bottom: 30px;">
							<div role="tabpanel" class="tab-pane" id="profile">
								<div class="row mb-50" v-for="order in ingPage">
									<!--<div class="table-content table-responsive">
										<table>
											<thead>
											<tr>
												<th class="product-thumbnail">封面</th>
												<th class="product-name">详情</th>
												<th class="product-remove">操作</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td class="product-thumbnail"><a :href="'/cover?imagePath='+order.loanableBook.imagePath"  target="_blank"><img :src="'/cover?imagePath='+order.loanableBook.imagePath" alt=""/></a></td>
												<td class="product-name" style="font-size: 12px;text-align: left;vertical-align: top">
													<span >订单号：</span><span>{{order.lrId}}</span></br>
													<span >订单时间：</span><span>{{millisecondsToDateTime(order.createTime)}}</span></br>
													<span >出版社：</span><span>{{order.loanableBook.lbPublishing}}</span></br>
													<span >借出方：</span><span>{{order.loanableBook.user.mail}}</span></br>
													<span >联系电话：</span><span>{{order.loanableBook.phone}}</span></br>
													<span >ISBN：</span><span>{{order.loanableBook.isbn}}</span></br>
													<span >数量：</span><span>{{order.amount}}</span></br>
													<span v-if="order.lrStruts==0">状态： <span class="label label-success">正常</span> 等待借出方同意<br /></span>
													<span v-else-if="order.lrStruts==4">状态： <span class="label label-success">正常</span> 借出方已同意申请，等待借出方将图书送至中转站<br /></span>
													<span v-else-if="order.lrStruts==6">状态： <span class="label label-success">正常</span> 图书已送达中转站，等待借入方取书<br /></span>
													<span v-else-if="order.lrStruts==7">状态： <span class="label label-danger">异常</span> 未按时取走图书，取消订单<br /></span>
													<span v-else-if="order.lrStruts==8">状态：<span class="label label-success">正常</span> 正在借阅<br /></span>
													<span v-else-if="order.lrStruts==9">状态： <span class="label label-danger">异常</span> 未按时归还图书<br /></span>
													<span v-else-if="order.lrStruts==10">状态：<span class="label label-success">正常</span> 等待借出方取回图书<br /></span>
													<span v-if="order.agreeTime!=null">借出方同意时间：{{millisecondsToDateTime(order.agreeTime)}}<br /></span>
													<span v-else>借出方同意时间：无<br /></span>
													<span v-if="order.sendToTime!=null">借出方送到中转站时间：{{millisecondsToDateTime(order.sendToTime)}}<br /></span>
													<span v-else>借出方送到中转站时间：无<br /></span>
													<span v-if="order.takeAwayTime!=null">取书时间：{{millisecondsToDateTime(order.takeAwayTime)}}<br /></span>
													<span v-else>取书时间：无<br /></span>
													<span v-if="order.actualReturnTime!=null">实际还书时间：{{millisecondsToDateTime(order.actualReturnTime)}}<br /></span>
													<span v-if="order.expectedReturnTime!=null">应还时间：{{millisecondsToDateTime(order.expectedReturnTime)}}<br /></span>
													<span v-else>应还时间：无<br /></span>
													<span v-else>实际还书时间：无<br /></span>
													<span v-if="order.backAdmin!=null">图书接收者（己方->中转站）：{{order.backAdmin.aName}}<br /></span>
													<span v-else>图书接收者（借出方->中转站）：无<br /></span>
													<span v-if="order.receiveAdmin!=null">图书接收者（借出方->中转站）：{{order.receiveAdmin.aName}}<br /></span>
													<span v-else>图书接收者（借出方->中转站）：无</span>
												</td>
												<td class="product-name product-remove" style="font-size: 12px;width: 10em;">
													<div  v-if="order.lrStruts==0">
														<a class="cart" href="javascript:;" @click="agree(order.lrId)"><span>同意借出</span></a>
													</div>
													<div  v-if="order.lrStruts==0">
														<a class="cart" href="javascript:;" @click="deny(order.lrId)"><span>拒绝借出</span></a>
													</div>
												</td>
											</tr>
											</tbody>
										</table>
									</div>-->
									<div class="col-xs-5 col-sm-5 col-md-4">
										<div class="product-wrapper">
											<div class="product-img">
												<a href="#"><img :src="'/cover?imagePath='+order.loanableBook.imagePath" alt="" /></a>
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-8">
										<div class="product-content product-list">
											<div class="pro-title clearfix">
												<h3 style="float: left; width: 50%">
													<a :href="'details?lbId='+order.loanableBook.lbId">《{{order.loanableBook.lbName}}》</a>
												</h3>
											</div>
											<div class="row">
												<div class="col-sm-6 clo-md-6">
													<p>
														<span>订单号： {{order.lrId}}</span><br />
														订单时间： {{millisecondsToDateTime(order.createTime)}}<br />
														出版社: {{order.loanableBook.lbPublishing}}<br />
														借入方：{{order.user.mail}}<br />
														联系电话：{{order.loanPhone}}<br />
														ISBN:{{order.loanableBook.isbn}}<br />
														所借数量:{{order.amount}}
													</p>
												</div>
												<div class="col-sm-6 clo-md-6">
													<p>
														<span v-if="order.lrStruts==0">状态： <span class="label label-success">正常</span> 等待借入方同意<br /></span>
														<span v-else-if="order.lrStruts==4">状态： <span class="label label-success">正常</span> 借入方已同意申请，等待借入方将图书送至中转站<br /></span>
														<span v-else-if="order.lrStruts==6">状态： <span class="label label-success">正常</span> 图书已送达中转站，等待借入方取书<br /></span>
														<span v-else-if="order.lrStruts==7">状态： <span class="label label-danger">异常</span> 未按时取走图书，取消订单<br /></span>
														<span v-else-if="order.lrStruts==8">状态：<span class="label label-success">正常</span> 正在借阅<br /></span>
														<span v-else-if="order.lrStruts==9">状态： <span class="label label-danger">异常</span> 未按时归还图书<br /></span>
														<span v-else-if="order.lrStruts==10">状态：<span class="label label-success">正常</span> 等待借入方取回图书<br /></span>
														<span v-if="order.agreeTime!=null">同意时间：{{millisecondsToDateTime(order.agreeTime)}}<br /></span>
														<span v-else>同意时间：无<br /></span>
														<span v-if="order.sendToTime!=null">送到中转站时间：{{millisecondsToDateTime(order.sendToTime)}}<br /></span>
														<span v-else>送到中转站时间：无<br /></span>
														<span v-if="order.takeAwayTime!=null">借阅者取书时间：{{millisecondsToDateTime(order.takeAwayTime)}}<br /></span>
														<span v-else>借阅者取书时间：无<br /></span>
														<span v-if="order.expectedReturnTime!=null">借阅者应还时间：{{millisecondsToDateTime(order.expectedReturnTime)}}<br /></span>
														<span v-else>借阅者应还时间：无<br /></span>
														<span v-if="order.actualReturnTime!=null">借阅者实际还书时间：{{millisecondsToDateTime(order.actualReturnTime)}}<br /></span>
														<span v-else>借阅者实际还书时间：无<br /></span>
														<span v-if="order.receiveAdmin!=null">图书接收者（己方->中转站）：{{order.receiveAdmin.aName}}<br /></span>
														<span v-else>图书接收者（己方->中转站）：无<br /></span>
														<span v-if="order.backAdmin!=null">图书接收者（借入方->中转站）：{{order.backAdmin.aName}}<br /></span>
														<span v-else>图书接收者（借入方->中转站）：无</span>
													</p>
												</div>
											</div>
											<div class="product-action" v-if="order.lrStruts==0">
												<a class="cart" href="javascript:;" @click="agree(order.lrId)"><span>同意借出</span></a>
											</div>
											<div class="product-action" v-if="order.lrStruts==0">
												<a class="cart" href="javascript:;" @click="deny(order.lrId)"><span>拒绝借出</span></a>
											</div>
										</div>
									</div>
								</div>
								<ul class="shop-pagi display-inline" v-if="page!=1&&newOrderNum!=0">

									<li><a @click="goIngPage(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
									<li><a
											@click="goIngPage(currPage>1?currPage-1:currPage)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
									<li
											v-for="n in (ingPageBar.endPageIndex-ingPageBar.startPageIndex+1)"
											:class="{active:(ingPageBar.startPageIndex+n-1)==currPage}">
										<a @click="goIngPage(ingPageBar.startPageIndex+n-1)"
										   href="javascript:;">{{ingPageBar.startPageIndex+n-1}}</a>
									</li>
									<li><a
											@click="goIngPage(currPage<page?currPage+1:page)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
									<li><a  @click="goIngPage(page)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

								</ul>
							</div>
						</div>
						<div v-show="showPage==1" style="min-height: 500px;margin-bottom: 30px;">
							<div role="tabpanel" class="tab-pane" id="profile">
								<div class="row mb-50" v-for="order in bugPage">
									<div class="col-xs-5 col-sm-5 col-md-4">
										<div class="product-wrapper">
											<div class="product-img">
												<a href="#"><img :src="'/cover?imagePath='+order.loanableBook.imagePath" alt="" /></a>
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-8">
										<div class="product-content product-list">
											<div class="pro-title clearfix">
												<h3 style="float: left; width: 50%">
													<a :href="'details?lbId='+order.loanableBook.lbId">《{{order.loanableBook.lbName}}》</a>
												</h3>
											</div>
											<div class="row">
												<div class="col-sm-6 clo-md-6">
													<p>
														<span>订单号： {{order.lrId}}</span><br />
														订单时间： {{millisecondsToDateTime(order.createTime)}}<br />
														出版社: {{order.loanableBook.lbPublishing}}<br />
														借入方：{{order.user.mail}}<br />
														联系电话：{{order.loanPhone}}<br />
														ISBN:{{order.loanableBook.isbn}}<br />
														所借数量:{{order.amount}}
													</p>
												</div>
												<div class="col-sm-6 clo-md-6">
													<p>
														<span v-if="order.lrStruts==7">状态： <span class="label label-danger">异常</span> 未按时取走图书，取消订单<br /></span>
														<span v-else-if="order.lrStruts==9">状态： <span class="label label-danger">异常</span> 未按时归还图书<br /></span>
														<span v-if="order.agreeTime!=null">同意时间：{{millisecondsToDateTime(order.agreeTime)}}<br /></span>
														<span v-else>同意时间：无<br /></span>
														<span v-if="order.sendToTime!=null">送到中转站时间：{{millisecondsToDateTime(order.sendToTime)}}<br /></span>
														<span v-else>送到中转站时间：无<br /></span>
														<span v-if="order.takeAwayTime!=null">借阅者取书时间：{{millisecondsToDateTime(order.takeAwayTime)}}<br /></span>
														<span v-else>借阅者取书时间：无<br /></span>
														<span v-if="order.expectedReturnTime!=null">借阅者应还时间：{{millisecondsToDateTime(order.expectedReturnTime)}}<br /></span>
														<span v-else>借阅者应还时间：无<br /></span>
														<span v-if="order.actualReturnTime!=null">借阅者实际还书时间：{{millisecondsToDateTime(order.actualReturnTime)}}<br /></span>
														<span v-else>借阅者实际还书时间：无<br /></span>
														<span v-if="order.receiveAdmin!=null">图书接收者（己方->中转站）：{{order.receiveAdmin.aName}}<br /></span>
														<span v-else>图书接收者（己方->中转站）：无<br /></span>
														<span v-if="order.backAdmin!=null">图书接收者（借入方->中转站）：{{order.backAdmin.aName}}<br /></span>
														<span v-else>图书接收者（借入方->中转站）：无</span>
													</p>
												</div>
											</div>
											<div class="product-action" v-if="order.lrStruts==0">
												<a class="cart" href="javascript:;" @click="agree(order.lrId)"><span>同意借出</span></a>
											</div>
											<div class="product-action" v-if="order.lrStruts==0">
												<a class="cart" href="javascript:;" @click="deny(order.lrId)"><span>拒绝借出</span></a>
											</div>
										</div>
									</div>
								</div>
								<ul class="shop-pagi display-inline" v-if="page!=1&&newOrderNum!=0">

									<li><a @click="goBugPage(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
									<li><a
											@click="goBugPage(currPage>1?currPage-1:currPage)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
									<li
											v-for="n in (bugPageBar.endPageIndex-bugPageBar.startPageIndex+1)"
											:class="{active:(bugPageBar.startPageIndex+n-1)==currPage}">
										<a @click="goBugPage(bugPageBar.startPageIndex+n-1)"
										   href="javascript:;">{{bugPageBar.startPageIndex+n-1}}</a>
									</li>
									<li><a
											@click="goBugPage(currPage<page?currPage+1:page)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
									<li><a  @click="goBugPage(page)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

								</ul>
							</div>
						</div>
						<div v-show="showPage==2" style="min-height: 500px;margin-bottom: 30px;">
							<div role="tabpanel" class="tab-pane" id="profile">
								<div class="row mb-50" v-for="order in edPage">
									<div class="col-xs-5 col-sm-5 col-md-4">
										<div class="product-wrapper">
											<div class="product-img">
												<a href="#"><img :src="'/cover?imagePath='+order.loanableBook.imagePath" alt="" /></a>
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-sm-7 col-md-8">
										<div class="product-content product-list">
											<div class="pro-title clearfix">
												<h3 style="float: left; width: 50%">
													<a :href="'details?lbId='+order.loanableBook.lbId">《{{order.loanableBook.lbName}}》</a>
												</h3>
											</div>
											<div class="row">
												<div class="col-sm-6 clo-md-6">
													<p>
														<span>订单号： {{order.lrId}}</span><br />
														订单时间： {{millisecondsToDateTime(order.createTime)}}<br />
														出版社: {{order.loanableBook.lbPublishing}}<br />
														借入方：{{order.user.mail}}<br />
														联系电话：{{order.loanPhone}}<br />
														ISBN:{{order.loanableBook.isbn}}<br />
														所借数量:{{order.amount}}
													</p>
												</div>
												<div class="col-sm-6 clo-md-6">
													<p>
														<span v-if="order.lrStruts==1">状态： <span class="label label-warning">失效</span> 借入方取消申请<br /></span>
														<span v-else-if="order.lrStruts==2">状态： <span class="label label-warning">失效</span> 借入方拒绝申请<br /></span>
														<span v-else-if="order.lrStruts==3">状态： <span class="label label-warning">失效</span> 申请超时<br /></span>
														<span v-else-if="order.lrStruts==5">状态： <span class="label label-warning">失效</span> 借入方未按时将图书送至中转站<br /></span>
														<span v-else-if="order.lrStruts==11">状态：<span class="label label-info">捐赠</span><br /></span>
														<span v-else-if="order.lrStruts==12">状态： <span class="label label-primary">完成</span><br /></span>
														<span v-if="order.agreeTime!=null">同意时间：{{millisecondsToDateTime(order.agreeTime)}}<br /></span>
														<span v-else>同意时间：无<br /></span>
														<span v-if="order.sendToTime!=null">送到中转站时间：{{millisecondsToDateTime(order.sendToTime)}}<br /></span>
														<span v-else>送到中转站时间：无<br /></span>
														<span v-if="order.takeAwayTime!=null">借阅者取书时间：{{millisecondsToDateTime(order.takeAwayTime)}}<br /></span>
														<span v-else>借阅者取书时间：无<br /></span>
														<span v-if="order.expectedReturnTime!=null">借阅者应还时间：{{millisecondsToDateTime(order.expectedReturnTime)}}<br /></span>
														<span v-else>借阅者应还时间：无<br /></span>
														<span v-if="order.actualReturnTime!=null">借阅者实际还书时间：{{millisecondsToDateTime(order.actualReturnTime)}}<br /></span>
														<span v-else>借阅者实际还书时间：无<br /></span>
														<span v-if="order.receiveAdmin!=null">图书接收者（己方->中转站）：{{order.receiveAdmin.aName}}<br /></span>
														<span v-else>图书接收者（己方->中转站）：无<br /></span>
														<span v-if="order.backAdmin!=null">图书接收者（借入方->中转站）：{{order.backAdmin.aName}}<br /></span>
														<span v-else>图书接收者（借入方->中转站）：无</span>
													</p>
												</div>
											</div>
											<div class="product-action" v-if="order.lrStruts==0">
												<a class="cart" href="javascript:;" @click="agree(order.lrId)"><span>同意借出</span></a>
											</div>
											<div class="product-action" v-if="order.lrStruts==0">
												<a class="cart" href="javascript:;" @click="deny(order.lrId)"><span>拒绝借出</span></a>
											</div>
										</div>
									</div>
								</div>
								<ul class="shop-pagi display-inline" v-if="page!=1&&newOrderNum!=0">

									<li><a @click="goEdPage(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
									<li><a
											@click="goEdPage(currPage>1?currPage-1:currPage)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
									<li
											v-for="n in (edPageBar.endPageIndex-edPageBar.startPageIndex+1)"
											:class="{active:(edPageBar.startPageIndex+n-1)==currPage}">
										<a @click="goEdPage(edPageBar.startPageIndex+n-1)"
										   href="javascript:;">{{edPageBar.startPageIndex+n-1}}</a>
									</li>
									<li><a
											@click="goEdPage(currPage<page?currPage+1:page)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
									<li><a  @click="goEdPage(page)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- cart-main-area end -->
<!-- service-area start -->
<!--<div class="service-area pt-70 pb-40 gray-bg">-->
	<!--<div class="container">-->
		<!--<div class="row">-->
			<!--<div class="col-md-3 col-sm-6">-->
				<!--<div class="single-service mb-30">-->
					<!--<div class="service-icon">-->
						<!--<i class="pe-7s-world"></i>-->
					<!--</div>-->
					<!--<div class="service-title">-->
						<!--<h3>FREE SHIPPING</h3>-->
						<!--<p>Free shipping on all UK orders</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-3 col-sm-6">-->
				<!--<div class="single-service mb-30">-->
					<!--<div class="service-icon">-->
						<!--<i class="pe-7s-refresh"></i>-->
					<!--</div>-->
					<!--<div class="service-title">-->
						<!--<h3>FREE EXCHANGE</h3>-->
						<!--<p>30 days return on all items</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-3 col-sm-6">-->
				<!--<div class="single-service mb-30 sm-mrg">-->
					<!--<div class="service-icon">-->
						<!--<i class="pe-7s-headphones"></i>-->
					<!--</div>-->
					<!--<div class="service-title">-->
						<!--<h3>PREMIUM SUPPORT</h3>-->
						<!--<p>We support online 24 hours a day</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="col-md-3 col-sm-6">-->
				<!--<div class="single-service mb-30 xs-mrg sm-mrg">-->
					<!--<div class="service-icon">-->
						<!--<i class="pe-7s-gift"></i>-->
					<!--</div>-->
					<!--<div class="service-title">-->
						<!--<h3>BLACK FRIDAY</h3>-->
						<!--<p>Shocking discount on every friday</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!-- service-area end -->
<!-- footer start -->
<!--<footer class="black-bg">
	<div class="footer-top-area ptb-60">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="footer-widget">
						<h3 class="footer-title">Contact info</h3>
						<div class="footer-contact">
							<ul>
								<li><em class="fa fa-map-marker"></em>8901 Marmora Road, Glasgow <span>D04 89 GR, New York</span></li>
								<li><em class="fa fa-phone"></em>Telephones: (+1) 866-540-3229 <span>Fax: (+1) 866-540-3229</span></li>
								<li><em class="fa fa-envelope-o"></em>Email: support@posthemes.com</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<div class="footer-widget">
						<h3 class="footer-title">My account</h3>
						<ul class="block-content">
							<li><a href="#">My orders</a></li>
							<li><a href="#">My credit slips</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">My addresses</a></li>
							<li><a href="#">My personal info</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-4">
					<div class="footer-widget">
						<h3 class="footer-title">Information</h3>
						<ul class="block-content">
							<li><a href="#">Contact us</a></li>
							<li><a href="#">Discount</a></li>
							<li><a href="#">Site map</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="#">Custom service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 footer-sm">
					<div class="footer-widget">
						<h3 class="footer-title">OUR SERVICE</h3>
						<ul class="block-content">
							<li><a href="#">My orders</a></li>
							<li><a href="#">My credit slips</a></li>
							<li><a href="#">Sitemap</a></li>
							<li><a href="#">My addresses</a></li>
							<li><a href="#">My personal info</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 footer-sm">
					<div class="footer-widget">
						<h3 class="footer-title">OPENING TIME</h3>
						<div class="footer-time">
							<p><span class="ft-content"><span class="day">Monday - Friday</span><span class="time">9:00 - 22:00</span></span></p>
							<p><span class="ft-content"><span class="day">Saturday</span><span class="time">10:00 - 24:00</span></span></p>
							<p><span class="ft-content"><span class="day">Sunday</span><span class="time">12:00 - 24:00</span></span></p>
							<p><span class="ft-content"><span class="day">Thursday</span><span class="time">Free Shipping</span></span></p>
							<p><span class="ft-content"><span class="day">Friday</span><span class="time">sale of 30%</span></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	&lt;!&ndash; footer-bootom-area start &ndash;&gt;
	<div class="footer-bootom-area ptb-15">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="copyright">
						<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="payment">

					</div>
				</div>
			</div>
		</div>
	</div>
	&lt;!&ndash; footer-bootom-area end &ndash;&gt;
</footer>-->
<!-- footer end -->


<!-- jquery latest version -->
<script src="../../statics/js/jquery-3.3.1.js"></script>
<script src="../../statics/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="../../statics/js/plugins/layer/layer.js"></script>
<script src="../../statics/js/vue.js"></script>
<script src="../../statics/js/commons/common.js"></script>
<script src="../../statics/js/user/lended.js"></script>
<script src="../../statics/js/user/header.js"></script>
<!-- Bootstrap framework js -->
<script src="../../statics/assets/js/bootstrap.min.js"></script>
<!-- ajax-mail js -->
<script src="../../statics/assets/js/ajax-mail.js"></script>
<!-- owl.carousel js -->
<script src="../../statics/assets/js/owl.carousel.min.js"></script>
<!-- owl.carousel js -->
<script src="../../statics/assets/js/jquery-ui.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="../../statics/assets/js/jquery.nivo.slider.pack.js"></script>
<!-- All js plugins included in this file. -->
<script src="../../statics/assets/js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="../../statics/assets/js/main.js"></script>

</body>

</html>
