<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>xxx图书共享-登录</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../statics/assets/css/bootstrap.min.css">
    <!--external css-->
    <link href="../../statics/assets/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../../statics/login/style.css" rel="stylesheet">
    <link href="../../statics/login/style-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="../../statics/assets/style.css">
    <link rel="stylesheet" href="../../statics/css/common_user.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../statics/js/html5shiv.js"></script>
    <script src="../../statics/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<div id="login-page" v-cloak>
    <div class="container">

        <div class="form-login">
            <h2 class="form-login-heading">登录</h2>
            <div class="login-wrap">
                <input v-model="username" type="text" class="form-control" placeholder="用户名" autofocus>
                <br>
                <input v-model="password" type="password" class="form-control" placeholder="密码">
                <br>
                <input v-model="vcode" type="text"class="form-control" id="vcode" placeholder="验证码" style="width: 75px;display: inline-block" />
                <img id="codeImg" src="/verifyCode" onclick="javascript:_change();" />
                <label class="checkbox">
                    <span class="text-danger" v-html="msg"></span>
                    <span class="pull-right">
						<a data-toggle="modal" href="login.html#myModal">忘记密码?</a>
					</span>
                </label>
                <button class="btn btn-theme btn-block" @click="login"><i class="fa fa-lock"></i>&nbsp;登录</button>
                <hr>
                <div class="registration">
                    还没有账号?<br/>
                    <a class="" href="/p/register">
                        注册账号
                    </a>
                </div>
            </div>

            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">密码找回</h4>
                        </div>
                        <div class="modal-body">
                            <p>请输入邮箱号找回密码</p>
                            <input type="text" name="email" placeholder="邮箱" autocomplete="off" class="form-control placeholder-no-fix">

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-theme" type="button">确认</button>
                            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->

        </div>

    </div>
</div>

<!-- js placed at the end of the document so the pages load faster -->
<script src="../../statics/js/jquery-3.3.1.js"></script>
<script src="../../statics/js/plugins/bootstrap/js/bootstrap.js"></script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<script type="text/javascript" src="../../statics/js/jquery.backstretch.min.js"></script>
<script>
    $.backstretch("../../statics/img/login-bg.jpg", {speed: 500});
</script>
<!-- layer -->
<script src="../../statics/js/plugins/layer/layer.js"></script>

<script src="../../statics/js/commons/common.js"></script>
<script src="../../statics/js/vue.js"></script>
<script src="../../statics/js/user/login.js"></script>

</body>
</html>
