<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>肇庆学院图书共享平台-消息中心</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
    ============================================ -->
	<link rel="shortcut icon" type="image/x-icon"
		  href="../../statics/img/logo_bsp.png">

	<!-- All css files are included here. -->
	<!-- Bootstrap framework main css -->
	<link rel="stylesheet" href="../../statics/assets/css/bootstrap.min.css">
	<!-- This core.css file contents all plugings css file. -->
	<link rel="stylesheet" href="../../statics/assets/css/core.css">
	<!-- Theme shortcodes/elements style -->
	<link rel="stylesheet"
		  href="../../statics/assets/css/shortcode/shortcodes.css">
	<!-- Theme main style -->
	<link rel="stylesheet" href="../../statics/assets/style.css">
	<!-- Responsive css -->
	<link rel="stylesheet" href="../../statics/assets/css/responsive.css">
	<!-- User style -->
	<link rel="stylesheet" href="../../statics/assets/css/custom.css">

	<link rel="stylesheet" href="../../statics/css/common_user.css">

	<!-- Modernizr JS -->
	<script src="../../statics/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- header start -->
<header v-cloak id="header-app" class="header-pos">
	<div class="header-area header-middle">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-sm-3 col-xs-12">
					<div class="logo">
						<a href="/"><img src="../../statics/img/logo_bsp.png" alt="" /></a>
					</div>
				</div>
				<div class="col-md-10 col-sm-9 col-xs-12 text-right xs-center">
					<div class="main-menu display-inline hidden-sm hidden-xs">
						<nav>
							<ul>
								<li><a href="/">首页</a></li>
								<li><a href="/p/repository">图书检索</a></li>
								<li v-show="login"><a href="/p/record">借阅记录</a></li>
								<li v-show="login"><a href="/p/lended">借出记录</a></li>
								<li v-show="login"><a href="/p/my_share">共享图书</a></li>
								<li v-show="login"><a href="/p/my_share2">需求图书</a></li>
								<li v-show="login"><a href="/p/message_center">消息<span v-show="msgNum"  id="msgNum" class="superscript">{{msgNum}}</span></a></li>
								<li v-show="!login"><a href="/login">登录</a></li>
								<li v-show="!login"><a href="/p/register">注册账号</a></li>
							</ul>
						</nav>
					</div>
					<div class="search-block-top display-inline">
						<div class="icon-search"></div>
						<div class="toogle-content">
							<form action="javascript:doSearch()" id="searchbox">
								<input v-model="search" type="text" placeholder="搜索图书" />
								<button type="button" @click="doSearch" class="button-search"></button>
							</form>
						</div>
					</div>
					<div class="setting-menu display-inline">
						<div class="icon-nav current"></div>
						<ul class="content-nav toogle-content">
							<li class="currencies-block-top">
								<!--<div class="current"><b>My Account</b></div>-->
								<ul>
									<li v-show="login"><a href="/p/user_center">账户资料</a></li>
									<li @click="logout"  v-show="login"><a href="javascript:;">退出登录</a></li>
									<li v-show="!login"><a href="/login">登录</a></li>
									<li v-show="!login"><a href="/p/register">注册账号</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mobile-menu-area visible-sm visible-xs">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="mobile-menu">
						<nav id="mobile-menu-active">
							<ul>
								<li><a href="/">首页</a></li>
								<li><a href="/p/repository">图书检索</a></li>
								<li v-show="login"><a href="/p/record">借阅记录</a></li>
								<li v-show="login"><a href="/p/lended">借出记录</a></li>
								<li v-show="login"><a href="/p/my_share">共享图书</a></li>
								<li v-show="login"><a href="/p/my_share2">需求图书</a></li>
								<li v-show="login"><a href="/p/message_center">消息<span v-show="msgNum" id="msgNum" class="mobile-superscript">{{msgNum}}</span></a></li>
								<li v-show="!login"><a href="/login">登录</a></li>
								<li v-show="!login"><a href="/p/register">注册账号</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- header end -->
<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-bell"></i></a></li>
			<li><a href="#">消息中心</a></li>
		</ol>
	</div>
</div>
<!-- breadcrumb end -->
<div v-cloak id="msg-app" class="cart-main-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<div class="column">
					<h2 class="title-block">消息</h2>
					<div class="sidebar-widget">
						<ul class="sidebar-menu">
							<li><a @click="switchPage(0)" href="javascript:;">未读消息 <span style="color: #f25d8e;">({{newMsgNum}})</span></a></li>
							<li><a @click="switchPage(1)" href="javascript:;">已读消息 </a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-8">
				<h2 class="page-heading mt-40">
					<span v-show="showPage==0" class="cat-name">未读消息</span>
					<span v-show="showPage==1" class="cat-name">已读消息</span>
				</h2>
				<div class="shop-page-bar">
					<div>
						<!-- Tab panes -->
						<div class="tab-content">
							<div v-show="showPage==0"><!--未读消息 start-->
								<div v-show="showPage==0" role="tabpanel" class="tab-pane active" id="home">
									<div class="row">
										<div v-for="item in unreadPage.rows" class="col-sm-12 col-md-12">
											<div class="thumbnail">
												<div class="caption">
													<h3>{{item.nSubject}}</h3>
													<p><i class="fa fa-clock-o"></i>&nbsp;{{millisecondsToDateTime(item.newsTime)}}</p>
													<p v-html="item.nContent"></p>
													<!--<div style="text-align: right">
														<a class="cart" data-toggle="modal" :data-target="'#msgModal'+item.nId" ><span>查看</span></a>
													</div>-->
													<div style="text-align: right" class="box-quantity">
														<button>
															<a @click="readMsg(item.nId)" data-dismiss="modal" href="javascript:;">已读</a>
														</button>
														<!--<button>
															<a data-toggle="modal" :data-target="'#msgModal'+item.nId">查看</a>
														</button>-->
													</div>
													<!--<p style="text-align: right">
														<a data-toggle="modal" :data-target="'#msgModal'+item.nId" href="#" class="btn btn-primary" role="button"><i class="fa fa-eye"></i></a>
													</p>-->
												</div>
											</div>
											<!-- Modal start -->
											<!--<div class="modal fade" :id="'msgModal'+item.nId" tabindex="-1" role="dialog">
												<div class="modal-dialog" role="document">
													<div class="modal-content">
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title">{{item.nSubject}}</h4>
														</div>
														<div class="modal-body">
															<p><i class="fa fa-clock-o"></i>&nbsp;{{millisecondsToDateTime(item.newsTime)}}</p>
															<p v-html="item.nContent"></p>
														</div>
														<div class="modal-footer">
															<div style="text-align: right" class="box-quantity">
																<button>
																	<a @click="readMsg(item.nId)" data-dismiss="modal" href="javascript:;">已读</a>
																</button>
																<button>
																	<a data-dismiss="modal" >关闭</a>
																</button>
															</div>
															<div style="text-align: right" class="box-quantity">
															</div>
														</div>
													</div>&lt;!&ndash; /.modal-content &ndash;&gt;
												</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
											</div>-->
											<!-- Modal end -->
										</div>
									</div>
								</div>

								<div v-show="showPage==0&&unreadPage.totalPage>1" class="content-sortpagibar">
									<div class="product-count display-inline">当前第{{unreadPage.currPage}} / {{unreadPage.totalPage}}页</div>
									<ul class="shop-pagi display-inline">
										<li><a @click="goUnreadPage(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
										<li><a @click="goUnreadPage(unreadPage.currPage>1?unreadPage.currPage-1:unreadPage.currPage)" href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
										<li v-for="n in (unreadPageBar.endPageIndex-unreadPageBar.startPageIndex+1)" :class="{active:(unreadPageBar.startPageIndex+n-1)==unreadPage.currPage}">
											<a @click="goUnreadPage(unreadPageBar.startPageIndex+n-1)" href="javascript:;">{{unreadPageBar.startPageIndex+n-1}}</a>
										</li>
										<li><a @click="goUnreadPage(unreadPage.currPage<unreadPage.totalPage?unreadPage.currPage+1:unreadPage.totalPage)" href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
										<li><a  @click="goUnreadPage(unreadPage.totalPage)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>
									</ul>
								</div>
							</div><!--未读消息 end-->

							<div v-show="showPage==1"><!--已读消息 start-->
								<div class="row">
									<div v-for="item in readPage.rows" class="col-sm-12 col-md-12">
										<div class="thumbnail">
											<div class="caption">
												<h3>{{item.nSubject}}</h3>
												<p><i class="fa fa-clock-o"></i>&nbsp;{{millisecondsToDateTime(item.newsTime)}}</p>
												<p v-html="item.nContent"></p>
												<p style="text-align: right" class="box-quantity">
													<button>
														<a @click="deleteRead(item.nId)" data-dismiss="modal" href="javascript:;">删除</a>
													</button>
													<!--<a data-toggle="modal" :data-target="'#readMsgModal'+item.nId" href="#" class="btn btn-primary" role="button"><i class="fa fa-eye"></i></a>&nbsp;-->
													<!--<a @click="deleteRead(item.nId)" href="javascript:;" class="btn btn-default" role="button"><i class="fa fa-trash"></i></a></p>-->
												<p/>
											</div>
										</div>
										<!-- Modal start -->
										<!--<div class="modal fade" :id="'readMsgModal'+item.nId" tabindex="-1" role="dialog">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
														<h4 class="modal-title">{{item.nSubject}}</h4>
														<p><i class="fa fa-clock-o"></i>&nbsp;{{millisecondsToDateTime(item.newsTime)}}</p>
													</div>
													<div class="modal-body">
														<p v-html="item.nContent"></p>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
													</div>
												</div>&lt;!&ndash; /.modal-content &ndash;&gt;
											</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
										</div>-->
										<!-- Modal end -->
									</div>
								</div>
							</div>

							<div v-show="showPage==1&&readPage.totalPage>1" class="content-sortpagibar">
								<div class="product-count display-inline">当前第{{readPage.currPage}} / {{readPage.totalPage}}页</div>
								<ul class="shop-pagi display-inline">
									<li><a @click="goReadPage(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
									<li><a @click="goReadPage(readPage.currPage>1?readPage.currPage-1:readPage.currPage)" href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
									<li v-for="n in (readPageBar.endPageIndex-readPageBar.startPageIndex+1)" :class="{active:(readPageBar.startPageIndex+n-1)==readPage.currPage}">
										<a @click="goReadPage(readPageBar.startPageIndex+n-1)" href="javascript:;">{{readPageBar.startPageIndex+n-1}}</a>
									</li>
									<li><a @click="goReadPage(readPage.currPage<readPage.totalPage?readPage.currPage+1:readPage.totalPage)" href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
									<li><a  @click="goReadPage(readPage.totalPage)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>
								</ul>
							</div><!--已读消息 end-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- shop-area end -->
<!-- jquery latest version -->
<script src="../../statics/assets/js/vendor/jquery-1.12.0.min.js"></script>
<script src="../../statics/js/vue.js"></script>
<script src="../../statics/js/plugins/layer/layer.js"></script>
<script src="../../statics/js/commons/common.js"></script>
<script src="../../statics/js/user/message.js"></script>
<script src="../../statics/js/user/header.js"></script>
<!-- Bootstrap framework js -->
<script src="../../statics/assets/js/bootstrap.min.js"></script>
<!-- ajax-mail js -->
<script src="../../statics/assets/js/ajax-mail.js"></script>
<!-- owl.carousel js -->
<script src="../../statics/assets/js/owl.carousel.min.js"></script>
<!-- owl.carousel js -->
<script src="../../statics/assets/js/jquery-ui.min.js"></script>
<!-- jquery.nivo.slider js -->
<script src="../../statics/assets/js/jquery.nivo.slider.pack.js"></script>
<!-- All js plugins included in this file. -->
<script src="../../statics/assets/js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="../../statics/assets/js/main.js"></script>
</body>

</html>
