<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>肇庆学院图书共享平台-图书检索</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon
    ============================================ -->
	<link rel="shortcut icon" type="image/x-icon" href="../../statics/img/logo_bsp.png">

	<!-- All css files are included here. -->
	<!-- This core.css file contents all plugings css file. -->
	<link rel="stylesheet" href="../../statics/assets/css/core.css">
	<!-- Theme shortcodes/elements style -->
	<link rel="stylesheet" href="../../statics/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../statics/assets/css/shortcode/shortcodes.css">
	<!-- Theme main style -->
	<link rel="stylesheet" href="../../statics/assets/style.css">
	<!-- Responsive css -->
	<link rel="stylesheet" href="../../statics/assets/css/responsive.css">
	<!-- User style -->
	<link rel="stylesheet" href="../../statics/assets/css/custom.css">

	<link rel="stylesheet" href="../../statics/css/common_user.css">

	<!-- Modernizr JS -->
	<script src="../../statics/assets/js/vendor/modernizr-2.8.3.min.js"></script>

	<script
	src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>

	<script src="../../statics/js/plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!-- header start -->
	<header v-cloak id="header-app" class="header-pos">
		<div class="header-area header-middle">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2 col-sm-3 col-xs-12">
						<div class="logo">
							<a href="/"><img src="../../statics/img/logo_bsp.png" alt="" /></a>
						</div>
					</div>
					<div class="col-md-10 col-sm-9 col-xs-12 text-right xs-center">
						<div class="main-menu display-inline hidden-sm hidden-xs">
							<nav>
								<ul>
									<li><a href="/">首页</a></li>
									<li><a href="/p/repository">图书检索</a></li>
									<li v-show="login"><a href="/p/record">借阅记录</a></li>
									<li v-show="login"><a href="/p/lended">借出记录</a></li>
									<li v-show="login"><a href="/p/my_share">共享图书</a></li>
									<li v-show="login"><a href="/p/my_share2">需求图书</a></li>
									<li v-show="login"><a href="/p/message_center">消息<span v-show="msgNum"  id="msgNum" class="superscript">{{msgNum}}</span></a></li>
									<li v-show="!login"><a href="/login">登录</a></li>
									<li v-show="!login"><a href="/p/register">注册账号</a></li>
								</ul>
							</nav>
						</div>
						<div class="search-block-top display-inline">
							<div class="icon-search"></div>
							<div class="toogle-content">
								<form action="javascript:doSearch()" id="searchbox">
									<input v-model="search" type="text" placeholder="搜索图书" />
									<button type="button" @click="doSearch" class="button-search"></button>
								</form>
							</div>
						</div>
						<div class="setting-menu display-inline">
							<div class="icon-nav current"></div>
							<ul class="content-nav toogle-content">
								<li class="currencies-block-top">
									<!--<div class="current"><b>My Account</b></div>-->
									<ul>
										<li v-show="login"><a href="/p/user_center">账户资料</a></li>
										<li @click="logout"  v-show="login"><a href="javascript:;">退出登录</a></li>
										<li v-show="!login"><a href="/login">登录</a></li>
										<li v-show="!login"><a href="/p/register">注册账号</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mobile-menu-area visible-sm visible-xs">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="mobile-menu-active">
								<ul>
									<li><a href="/">首页</a></li>
									<li><a href="/p/repository">图书检索</a></li>
									<li v-show="login"><a href="/p/record">借阅记录</a></li>
									<li v-show="login"><a href="/p/lended">借出记录</a></li>
									<li v-show="login"><a href="/p/my_share">共享图书</a></li>
									<li v-show="login"><a href="/p/my_share2">共需求图书</a></li>
									<li v-show="login"><a href="/p/message_center">消息<span v-show="msgNum" id="msgNum" class="mobile-superscript">{{msgNum}}</span></a></li>
									<li v-show="!login"><a href="/login">登录</a></li>
									<li v-show="!login"><a href="/p/register">注册账号</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
<!-- header end -->

	<div class="space-custom"></div>
	<!-- breadcrumb start -->
	<div class="breadcrumb-area">
		<div class="container">
			<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-search"></i></a></li>
                <li><a href="#">图书检索</a></li>
			</ol>
		</div>
	</div>
	<!-- breadcrumb end -->
	<!-- shop-area start -->
	<div class="shop-area">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<h2 class="title-block">图书分类</h2>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a onclick="pageto(1)"> 所有 </a>
							</h4>
						</div>
					</div>
					<div id="classify_app" v-cloak>
						<div class="panel panel-default" v-for="t in primary_datas">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										:data-target="'#collapse'+t.pcId" :onclick="'findByPrimary('+t.pcId+')'"> {{t.pcName}} </a>
								</h4>
							</div>
							<div :id="'collapse'+t.pcId" class="panel-collapse collapse">
								<div class="panel-body">
									<ul>
										<li v-for="r in secondary_datas"
											v-if="r.primaryClassification.pcId==t.pcId"><a :onclick="'findBySecondary('+r.scId+')'">{{r.scName}}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 col-sm-8" id="list_app" v-cloak>
					<h2 class="page-heading mt-40">
						<span class="cat-name">图书检索</span>
						<span class="heading-counter">共{{total}}册/套</span>
					</h2>

					<div class="shop-page-bar">
						<div>
							<div class="shop-bar">
								<!-- Nav tabs -->
								<ul class="shop-tab f-left" role="tablist">
									<li role="presentation"><a href="#home" data-toggle="tab"><i
											class="fa fa-th-large" aria-hidden="true"></i></a></li>
									<li role="presentation" class="active"><a href="#profile"
										data-toggle="tab"><i class="fa fa-th-list"
											aria-hidden="true"></i></a></li>
								</ul>
								<div class="selector-field f-left ml-20 hidden-xs">
									<form>
										<label>排序</label> <select name="select" id="sort">
											<option value="1">借出次数: 从高到低</option>
											<option value="2">借出次数: 从低到高</option>
										</select>
									</form>
								</div>
								<div class="selector-field f-left ml-30 hidden-xs">
									<form action="#">
										<label>显示</label> <select name="select" id="limit" >
											<option value="3">3</option>
											<option value="6">6</option>
											<option value="9">9</option>
											<option value="12">12</option>
											<option value="15">15</option>
										</select>
										<label>条</label>
									</form>
								</div>
								<div class="selector-field f-right ml-30">
									<form action="#" id="searchbox">
										<input type="text" placeholder="书名/类别/作者" id="bookName" />
										<input type="text" style="display:none" />
										<button type="button" class="button-search" onclick="findByBookName()"></button>
									</form>
								</div>
							</div>
							<!-- Tab panes -->
							<div class="tab-content">
								<div v-if="total==0" class="row"><div class="col-md-12 col-sm-12 text-center">暂无数据</div></div>
								<div role="tabpanel" class="tab-pane" id="home">
									<div class="row">


										<div class="col-md-4 col-sm-6" v-for="r in datas">
											<div class="product-wrapper mb-40">
												<div class="product-img">
													<a :href="'details?lbId='+r.lbId"><img
														:src="'/cover?imagePath='+r.imagePath" alt="" /></a>
												</div>
												<div class="product-content">
													<div class="pro-title">
														<h3>
															<a :href="'details?lbId='+r.lbId">《{{r.lbName}}》</a>
														</h3>
													</div>
												</div>
											</div>
										</div>




									</div>
								</div>
								<div role="tabpanel" class="tab-pane active" id="profile">

									<ul>
										<li v-for="r in datas">
											<div class="row mb-50">
												<div class="col-xs-5 col-sm-5 col-md-4">
													<div class="product-wrapper">
														<div class="product-img">
															<a :href="'details?lbId='+r.lbId"><img
																:src="'/cover?imagePath='+r.imagePath" alt="" /></a>
														</div>
													</div>
												</div>
												<div class="col-xs-7 col-sm-7 col-md-8">
													<div class="product-content product-list">
														<div class="pro-title">
															<h3 style="float: left; width: 50%">
																<a :href="'details?lbId='+r.lbId">《{{r.lbName}}》</a>
															</h3>
															<h6 style="float: left; width: 50%" align="right">借阅次数：{{r.totalLending}}</h6>
														</div>
														<p>
															出版社：{{r.lbPublishing}}<br /> ISBN：{{r.isbn}}<br />
															所属用户：{{r.user.mail}} <br />
															剩余：{{r.left}} （册/套）<br />
															描述：{{r.lbComment=maxSlice(r.lbComment)}}<br />
														</p>
														<div class="product-action" v-if="r.left!=0">
															<a class="cart" :href="'borrowed?lbId='+r.lbId"><span>借阅</span></a>
														</div>
														<div class="product-action" v-else>
															<a class="cart" href="javascript:return false;" style="opacity: 0.2"><span>借阅</span></a>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>


								</div>
								<div class="content-sortpagibar" v-if="total!=0">
									<div class="product-count display-inline">当前第{{pageNumber}} / {{page}}页</div>
									<div v-if="page!=1">

									<ul class="shop-pagi display-inline" v-if="primary!=null">

										<li><a @click="primary_pageto(1,primary)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
										<li><a
											@click="primary_pageto(pageNumber>1?pageNumber-1:pageNumber,primary)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
										<li
											v-for="n in (pageBar.endPageIndex-pageBar.startPageIndex+1)"
											:class="{active:(pageBar.startPageIndex+n-1)==pageNumber}">
											<a @click="primary_pageto(pageBar.startPageIndex+n-1,primary)"
											href="javascript:;">{{pageBar.startPageIndex+n-1}}</a>
										</li>
										<li><a
											@click="primary_pageto(pageNumber<page?pageNumber+1:page,primary)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
										<li><a  @click="primary_pageto(page,primary)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

									</ul>
									<ul class="shop-pagi display-inline" v-else-if="secondary!=null">

										<li><a @click="secondary_pageto(1,secondary)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
										<li><a
											@click="secondary_pageto(pageNumber>1?pageNumber-1:pageNumber,secondary)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
										<li
											v-for="n in (pageBar.endPageIndex-pageBar.startPageIndex+1)"
											:class="{active:(pageBar.startPageIndex+n-1)==pageNumber}">
											<a @click="secondary_pageto(pageBar.startPageIndex+n-1,secondary)"
											href="javascript:;">{{pageBar.startPageIndex+n-1}}</a>
										</li>
										<li><a
											@click="secondary_pageto(pageNumber<page?pageNumber+1:page,secondary)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
										<li><a  @click="secondary_pageto(page,secondary)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

									</ul>
									<ul class="shop-pagi display-inline" v-else-if="search!=null">

										<li><a @click="search_pageto(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
										<li><a
											@click="search_pageto(pageNumber>1?pageNumber-1:pageNumber)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
										<li
											v-for="n in (pageBar.endPageIndex-pageBar.startPageIndex+1)"
											:class="{active:(pageBar.startPageIndex+n-1)==pageNumber}">
											<a @click="search_pageto(pageBar.startPageIndex+n-1)"
											href="javascript:;">{{pageBar.startPageIndex+n-1}}</a>
										</li>
										<li><a
											@click="search_pageto(pageNumber<page?pageNumber+1:page)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
										<li><a  @click="search_pageto(page)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

									</ul>

									<ul class="shop-pagi display-inline" v-else>

										<li><a @click="pageto(1)" href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
										<li><a
											@click="pageto(pageNumber>1?pageNumber-1:pageNumber)"
											href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
										<li
											v-for="n in (pageBar.endPageIndex-pageBar.startPageIndex+1)"
											:class="{active:(pageBar.startPageIndex+n-1)==pageNumber}">
											<a @click="pageto(pageBar.startPageIndex+n-1)"
											href="javascript:;">{{pageBar.startPageIndex+n-1}}</a>
										</li>
										<li><a
											@click="pageto(pageNumber<page?pageNumber+1:page)"
											href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
										<li><a  @click="pageto(page)" href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>

									</ul>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop-area end -->
	<!-- brand-area start -->
	<!--<div class="brand-area">
		<div class="container">
			<div class="brand-sep ptb-50">
				<div class="row">
					<div class="brand-active">
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/1.jpg" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/2.jpg" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/3.jpg" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/4.jpg" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/5.jpg" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/1.jpg" alt="" /></a>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="single-brand">
								<a href="#"><img src="../../statics/assets/img/brand/2.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<!-- brand-area end -->
	<!-- service-area start -->
	<!--<div class="service-area pt-70 pb-40 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30">
						<div class="service-icon">
							<i class="pe-7s-world"></i>
						</div>
						<div class="service-title">
							<h3>FREE SHIPPING</h3>
							<p>Free shipping on all UK orders</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30">
						<div class="service-icon">
							<i class="pe-7s-refresh"></i>
						</div>
						<div class="service-title">
							<h3>FREE EXCHANGE</h3>
							<p>30 days return on all items</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30 sm-mrg">
						<div class="service-icon">
							<i class="pe-7s-headphones"></i>
						</div>
						<div class="service-title">
							<h3>PREMIUM SUPPORT</h3>
							<p>We support online 24 hours a day</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30 xs-mrg sm-mrg">
						<div class="service-icon">
							<i class="pe-7s-gift"></i>
						</div>
						<div class="service-title">
							<h3>BLACK FRIDAY</h3>
							<p>Shocking discount on every friday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<!-- service-area end -->
	<!-- footer start -->
	<!--<footer class="black-bg">
		<div class="footer-top-area ptb-60">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="footer-widget">
							<h3 class="footer-title">Contact info</h3>
							<div class="footer-contact">
								<ul>
									<li><em class="fa fa-map-marker"></em>8901 Marmora Road, Glasgow <span>D04 89 GR, New York</span></li>
									<li><em class="fa fa-phone"></em>Telephones: (+1) 866-540-3229 <span>Fax: (+1) 866-540-3229</span></li>
									<li><em class="fa fa-envelope-o"></em>Email: support@posthemes.com</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-4">
						<div class="footer-widget">
							<h3 class="footer-title">My account</h3>
							<ul class="block-content">
								<li><a href="#">My orders</a></li>
								<li><a href="#">My credit slips</a></li>
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">My addresses</a></li>
								<li><a href="#">My personal info</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-sm-4">
						<div class="footer-widget">
							<h3 class="footer-title">Information</h3>
							<ul class="block-content">
								<li><a href="#">Contact us</a></li>
								<li><a href="#">Discount</a></li>
								<li><a href="#">Site map</a></li>
								<li><a href="#">About us</a></li>
								<li><a href="#">Custom service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 footer-sm">
						<div class="footer-widget">
							<h3 class="footer-title">OUR SERVICE</h3>
							<ul class="block-content">
								<li><a href="#">My orders</a></li>
								<li><a href="#">My credit slips</a></li>
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">My addresses</a></li>
								<li><a href="#">My personal info</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 footer-sm">
						<div class="footer-widget">
							<h3 class="footer-title">OPENING TIME</h3>
							<div class="footer-time">
								<p><span class="ft-content"><span class="day">Monday - Friday</span><span class="time">9:00 - 22:00</span></span></p>
								<p><span class="ft-content"><span class="day">Saturday</span><span class="time">10:00 - 24:00</span></span></p>
								<p><span class="ft-content"><span class="day">Sunday</span><span class="time">12:00 - 24:00</span></span></p>
								<p><span class="ft-content"><span class="day">Thursday</span><span class="time">Free Shipping</span></span></p>
								<p><span class="ft-content"><span class="day">Friday</span><span class="time">sale of 30%</span></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		&lt;!&ndash; footer-bootom-area start &ndash;&gt;
		<div class="footer-bootom-area ptb-15">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p>Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="payment">
							<img src="../../statics/assets/img/payment.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		&lt;!&ndash; footer-bootom-area end &ndash;&gt;
	</footer>-->
	<!-- footer end -->
	<!-- Modal -->
	<!--<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-img">
                        <a href="../../statics/assets/shop.html"><img src="../../statics/assets/img/product/1.jpg" alt="" /></a>
                    </div>
                    <div class="modal-pro-content">
                        <h3><a href="#">Phasellus Vel Hendrerit</a></h3>
                        <div class="pro-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <span>(2 customer reviews)</span>
                        <div class="price">
                            <span>$70.00</span>
                            <span class="old">$80.11</span>
                        </div>
                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
                        <form action="#">
                            <input type="number" value="1" />
                            <button>Add to cart</button>
                        </form>
                        <div class="product_meta">
                            <span class="posted_in">Categories: <a rel="tag" href="#">Albums</a>, <a rel="tag" href="#">Music</a></span> <span class="tagged_as">Tags: <a rel="tag" href="#">Albums</a>, <a rel="tag" href="#">Music</a></span>
                        </div>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>-->
	<!-- Modal end -->




	<script src="../../statics/js/jquery-3.3.1.js"></script>
	<script src="../../statics/assets/js/vendor/jquery-1.12.0.min.js"></script>
	<script src="../../statics/js/vue.js"></script>
	<script src="../../statics/js/commons/common.js"></script>
	<script src="../../statics/js/user/repository.js"></script>
	<script src="../../statics/js/user/header.js"></script>
	<!-- Bootstrap framework js -->
	<script src="../../statics/assets/js/bootstrap.min.js"></script>
	<!-- ajax-mail js -->
	<script src="../../statics/assets/js/ajax-mail.js"></script>
	<!-- owl.carousel js -->
	<script src="../../statics/assets/js/owl.carousel.min.js"></script>
	<!-- owl.carousel js -->
	<script src="../../statics/assets/js/jquery-ui.min.js"></script>
	<!-- jquery.nivo.slider js -->
	<script src="../../statics/assets/js/jquery.nivo.slider.pack.js"></script>
	<!-- All js plugins included in this file. -->
	<script src="../../statics/assets/js/plugins.js"></script>
	<!-- Main js file that contents all jQuery plugins activation. -->
	<script src="../../statics/assets/js/main.js"></script>



</body>

</html>
